html {
    font-size: 10px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --desaturated-DarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--light-Grayish-Blue);
    color: var(--desaturated-DarkBlue);
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 1.3rem;
    font-weight: 500;
}
@media screen and (max-width: 1440px) {
    .container {
        display: flex;
        width: 73rem;
        height: 28rem;
        background-color: white;
        margin: auto 0;
        border-radius: 10px;
    }
    .hero-image {
        width: 28.5rem;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .information {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .personal-information {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .avatar {
        width: 4rem;
        border-radius: 50%;
    }

    .icon-share {
        width: 1.5rem;
        margin: auto;
    }
    .icon-container {
        border-radius: 50%;
        border: none;
        width: 3.2rem;
        height: 3.2rem;
        background-color: var(--light-Grayish-Blue);
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .heading {
        font-size: 2rem;
        font-weight: 700;
        color: var(--very-Dark-Grayish-Blue);
    }
    .name {
        font-weight: 700;
        color: var(--very-Dark-Grayish-Blue);
    }

    .time {
        color: var(--grayishBlue);
    }

    .shape {
        display: flex;
        gap: 10px;
        width: 24.8rem;
        background-color: var(--very-Dark-Grayish-Blue);
        padding: 15px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        position: absolute;
        transform: translateX(91%) translateY(200%);
        animation: ease-in-out;
    }

    .shape::after {
        content: "";
        background-color: var(--very-Dark-Grayish-Blue);
        width: 20px;
        height: 20px;
        position: absolute;
        top: 102%;
        left: 50%;
        transform: translate(-50%, -60%) rotate(45deg);
    }

    .active {
        display: none;
    }
}
@media screen and (max-width: 678px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 32.7rem;
        height: 50.4rem;
        background-color: white;
        margin: auto;
        box-shadow: 5px 10px 20px var(--grayishBlue);
    }
    .hero-image {
        width: 100%;
        height: 20rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .information {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .personal-information {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .avatar {
        width: 4rem;
        border-radius: 50%;
    }

    .icon-share {
        width: 1.5rem;
        margin: auto;
    }
    .icon-container {
        border-radius: 50%;
        border: none;
        width: 3.2rem;
        height: 3.2rem;
        background-color: var(--light-Grayish-Blue);
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .heading {
        font-size: 2rem;
        font-weight: 700;
        color: var(--very-Dark-Grayish-Blue);
    }
    .name {
        font-weight: 700;
        color: var(--very-Dark-Grayish-Blue);
    }

    .time {
        color: var(--grayishBlue);
    }

    .shape {
        display: flex;
        gap: 10px;
        width: 32.7rem;
        height: 6.4rem;
        background-color: var(--very-Dark-Grayish-Blue);
        padding: 15px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        position: absolute;
        transform: translateX(-9%) translateY(330%);
    }

    .active {
        display: none;
    }
}
